/*Navigation Bar*/
nav{
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
    align-items: center;
}

.nav-links{
    flex: auto;
    margin-left: 6%;
}

.nav-links ul{
    display: flex;;
}

.nav-links li{
    line-height: 1.39;
}

.nav-links a{
    margin-right: 2rem;
    font-size: 1rem;
}

.nav-login form{
    display: flex;
    column-gap: 1.25rem;
    justify-content: space-between;
}

@media (max-width : 1200px){
    .nav-bar {
        padding: 5%;
    }
}
